@using NewDepot.Helpers;
@using NewDepot.Controllers.Authentications;
@using Microsoft.AspNetCore.Http;

@{
    GeneralClass generalClass = new GeneralClass();
    var userRole = generalClass.Decrypt(Context.Session.GetString(AuthController.sessionRoleName));
    var userName = generalClass.Decrypt(Context.Session.GetString(AuthController.sessionUserName));
}
<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
        <a href="/" class="site_title" title="NMDPRA Depot Portal">
            <img src="@Url.Content("/OldDepotStyle/Content/Images/coat-of-arm.jpg")" alt="NMDPRA Depot Portal" class="img-circle"><span>NMDPRA Depot Portal</span>
        </a>
    </div>
    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile">
        <div class="profile_pic">
            @* /Content/Images/img.jpg *@
            <img src="@Url.Content("/OldDepotStyle/Content/Images/default_avatar.png")" alt="..." class="img-circle profile_img">
        </div>
        <div class="profile_info">
            <span>Welcome,</span>
            <h2>@userName</h2>
        </div>
    </div>
    <!-- /menu profile quick info -->
    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <h3>Inspector</h3>
            <ul class="nav side-menu">
                <li id="lnk-Dashboard">
                    <a href="@Url.Action("Index", "Dashboard")"><i class="fa fa-th-large"></i>Dashboard</a>
                </li>
                <li id="lnk-Branches">
                    <a href="@Url.Action("MyDesk", "Process")"><i class="fa fa-home"></i>My Desk</a>
                </li>
                @if (userRole.Contains("InspectorCanViewApplications"))
                {
                    <li id="lnk-Applications">
                        <a href="#">
                            <i class="fa fa-file" aria-hidden="true"></i>Applications <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="/Application">All Applications</a>
                            </li>
                            <li>
                                <a href="/Company/All">All Companies</a>
                            </li>
                        </ul>
                    </li>
                }
                <li id="lnk-SchHistory">
                    <a href="@Url.Action("Meetings", "Process")"><i class="fa fa-calendar"></i>Schedule History</a>
                </li>

                <li class="" id="lnk-Permits">
                    <a href="#" class=""><i class="fa fa-paper-plane" aria-hidden="true"></i>Licence <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li>
                            <a href="/Application/Licenses">
                                <span>Licence</span>
                            </a>
                        </li>

                        @if (userRole.Contains("Printer"))
                        {
                            <li>
                                <a href="/Application/PrintLicenses?printed=true">
                                    <span>Printed Licence</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Application/PrintLicenses?printed=false">
                                    <span>Non Printed Licence</span>
                                </a>
                            </li>

                        }
                    </ul>
                </li>
                <li id="lnk-Reports" class="more">
                    <a href="#" class=""><i class="fa fa-bar-chart" aria-hidden="true"></i>Reports <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">

                        <li id="lnk-Year" class="more">
                            <a href="#" class=""><i class="fa fa-bar-chart" aria-hidden="true"></i>Application Year<span class="fa fa-chevron-down"></span></a>

                            <ul class="nav child_menu">
                                @using (Html.BeginForm("ApplicationByYear", "Reports", FormMethod.Post))
                                {
                                    <li>
                                        <input type="submit" value="2018" class="btn btn-success" />
                                        <input class="form-control" type="hidden" id="year" name="year" value="2018" hidden />
                                    </li>
                                }@using (Html.BeginForm("ApplicationByYear", "Reports", FormMethod.Post))
                                {
                                    <li>
                                        <input type="submit" value="2019" class="btn btn-success" />
                                        <input class="form-control" type="hidden" id="year" name="year" value="2019" hidden />
                                    </li>
                                }@using (Html.BeginForm("ApplicationByYear", "Reports", FormMethod.Post))
                                {
                                    <li>
                                        <input type="submit" value="2020" class="btn btn-success" />
                                        <input class="form-control" type="hidden" id="year" name="year" value="2020" hidden />
                                    </li>
                                }@using (Html.BeginForm("ApplicationByYear", "Reports", FormMethod.Post))
                                {
                                    <li>
                                        <input type="submit" value="2021" class="btn btn-success" />
                                        <input class="form-control" type="hidden" id="year" name="year" value="2021" hidden />
                                    </li>
                                }

                            </ul>

                        </li>
                        <li><a href="/Reports/PaymentSummary">Payment Summary</a></li>
                        <li><a href="/Reports/PaymentExport">Payment Receipt</a></li>
                        <li><a href="/Reports/PermitNLicenseSummary">Permits Summary</a></li>
                        <li><a href="/Reports/ApplicationSummary">Applications Summary</a></li>
                        <li>
                            <a href="@Url.Action("RejectedApplications", "Application")">Rejected Applications</a>
                        </li>
                        <li><a href="/Invoice">Invoice</a></li>
                        <li><a href="/Invoice/Receipt">Receipt</a></li>
                    </ul>
                </li>
                <li id="lnk-leave">
                    <a href="@Url.Action("ApplyForLeave", "Home")"><i class="fa fa-home"></i>Apply for Leave</a>
                </li>

                <li id="lnk-Branches">
                    <a href="@Url.Action("Facility", "Update")"><i class="fa fa-cubes"></i>Update Facility Identification Code</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /sidebar menu -->
    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>
        <a href="javascript:document.getElementById('logoutForm').submit()" data-toggle="tooltip" data-placement="top" title="Logout">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
    </div>
    <!-- /menu footer buttons -->
</div>

@*<ul>
        <li>
            <a href="#">
                <span>Control Panel</span>
                <br />
                <small>Inspector</small>
            </a>
        </li>
        <li id="lnk-Dashboard">
            <a href="/Home/AdminDashBoard">
                <i class="icon-grid" aria-hidden="true"></i>
                <span>Dashboard</span>
                <span class="act"></span>
            </a>
        </li>
        <li id="lnk-Branches">
            <a href="/Process" class="">
                <i class="icon-home" aria-hidden="true"></i>
                <span>My Desk</span>
                <span class="act"></span>
            </a>
        </li>
        <li id="lnk-Schedules">
            <a href="@Url.Action("Meetings", "Process")" class="">
                <i class="icon-calendar" aria-hidden="true"></i>
                <span>My Schedules</span>
                <span class="act"></span>
            </a>
        </li>


    </ul>*@
