@*@model IdentitySample.Models.ForgotPasswordViewModel*@
@model IdentitySample.Models.ChangePasswordViewModel
    
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content">
    <h2 class="lefty">Forgot Password</h2>
    <hr class="clear" />
    
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="well">
                @using (Html.BeginForm("AdminForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <h4>Enter details to change password</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="email" class="col-md-4 control-label">Email</label>
                            <div class="col-md-8">
                                <input type="text" id="email" name="email" class="form-control" required />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-primary" value="Reset Password" />
                            </div>
                        </div>
                    </div>
                }
            </div>

            @if (ViewBag.Link != null)
            {
                <div class="well">
                    <h3>Please Use the Link below</h3>

                    <a href="@ViewBag.Link">Reset your Password</a>
                </div>
            }
        </div>
    </div>

</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
