@*@model NewDepot.Models.vInspection_Rule*@

@{
    //ViewBag.Title = "Delete";
    Layout = null;
    string tt = "";
}

<form action="/Category/DeleteCategoryRule" method="post">

    <div class="modal-body">
        @Html.ValidationSummary(true)

        <input type="hidden" name="Id" value="@ViewBag.catRuleId" />

        @if (ViewBag.Todo != null && ViewBag.Todo.ToLower() == "del")
        {
            tt = "Archive Category";
            <div>
                <p>
                    Are you sure you want to Archive this Category Rule?
                </p>
                <p>
                    This Rule will no longer be applicable to New Applications from this time on.
                </p>
            </div>
        }
        else
        {
            tt = "Re-Add Category";
            <div>
                <p>
                    Are you sure you want to Re-Add this Category Rule?
                </p>
                <p>
                    This Rule will now be avaiable and applicable to New Applications from this time on.
                </p>
            </div>
        }
    </div>
    <hr class="clear" />
    <div class="form-group">
        <div class="txtcenter">
            <input type="submit" value="Confirm @tt" class="btn btn-danger" />
        </div>
    </div>

</form>


@*@if (Model != null)
{

    <div class="modal-body">
        <div class="extForm">
            <h4>Are you sure you want to delete this Category Rule? </h4>
            <p>
                <dl class="dl-horizontal lt">
                    <dt>Rule</dt>
                    <dd>@Model.Display</dd>
                </dl>
            </p>
        </div>
    </div>
    <div class="modal-footer">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            <input type="hidden" name="CatId" value="@ViewBag.CatId" />
            <div class="">
                <a role="button" href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
                <input type="submit" value="Confirm & Delete" class="btn btn-danger" />
            </div>
        }

    </div>

}
else
{
    <div class="modal-body">
        <div class="extForm">
            <h4>No rule is selected or The selected rule could not be found. Please select a rule to delete</h4>
        </div>
    </div>
    <div class="modal-footer">
        <div class="">
            <a role="button" href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
        </div>
    </div>
}*@
