@*@model NewDepot.Models.Legacies

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_ElaLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Legacy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermitNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermitNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssuedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssuedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacilityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacilityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacilityAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacilityAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LandMeters)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LandMeters)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPipeLine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPipeLine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsHighTention)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsHighTention)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsHighWay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsHighWay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Products)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Products)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeleteStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeleteStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppDocId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppDocId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompElpsDocId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompElpsDocId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocSource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DropStaffId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DropStaffId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LegacyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
