@model NewDepot.Models.faqs

@{
    ViewBag.Title = "Create";
    Layout = null;
}

@*<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel" class="modal-title">Create New FAQ Category</h3>
</div>*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-body">
        <div class="extForm">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="input-group">
                <span class="input-group-addon covertop"><i class="glyphicon glyphicon-home"></i></span>
                @Html.TextBoxFor(m => m.name, new { @class = "form-control covertop", @placeholder = "FAQ Category Name" })
                @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a role="button" href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
        <button class="btn btn-primary" type="submit">Create Category</button>
    </div>
}



@*@using (Html.BeginForm()) 
{
    
    <div class="form-horizontal">
        <h4>Faq</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}*@
